@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Space+Mono&display=swap");
@import "./vars.scss";



html, body {
  overflow-y:hidden;
  height:100vh;
}

body {
  font-family: $monospace;
  margin: 0;
  font-size: 18px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $white;

}

h1,
h2 {
  font-family: $sans-serif;
}

h1 {
  font-size: $medium;
}

section {
  padding: 1.5em 2em;
  min-height: 100vh;
  scroll-snap-align: start;
  max-width: 5200px;
}

a {
  text-decoration: none;
  color:inherit;
  font-weight: bold;
}
