@import "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Space+Mono&display=swap');
@import "./vars.scss";


body {
    font-family: $monospace;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $white;
}

h1 {
    font-family: $sans-serif;
}