@import "../../../styles/vars.scss";

header.main {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 4em);

  div {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .title {
    // h1 {
    //   font-weight: normal;
    // }
  }

  .byline {
    font-size: $medium;
  }
}
