@import "../../../styles/vars.scss";

section.scene {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  &.then {
    background: $black;
    color: $white;
  }

  &.onwards {
    flex-direction: row-reverse;
  }

  .text-content {
    flex-basis: calc(50% - 1em);
    flex-grow: 0;
    align-self: flex-end;
  }

  .artwork-wrapper {
    margin-top: -1.5em;
    width: calc(50% - 1em);
    // height:calc(100vh - 2em);
    // overflow:hidden;
  }
}
