@import "../../../styles/vars.scss";

section.hero {
  min-height: calc(100vh - 16em);
  padding-bottom: 6em;
  display: flex;
  align-items: flex-end;

  & > div {
    height: 100%;
    align-items: flex-end !important;
  }

  .arrow,
  .deck {
    flex-basis: calc(50% - 1em);
    flex-grow: 0;
    flex-shrink: 0;
  }

  .arrow {
    p {
      font-size: $large;
    }
  }

  .deck {
    margin-left: calc(50% + 1em);
    padding-right: 2em;
    p {
      font-size: $large;
      font-family: $sans-serif;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      margin-left: 0;
    }
  }
}
