@import "../../../styles/vars.scss";

header.main {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em;
  width:100%;

  div {
    flex-basis: calc(50% - 1em);
    flex-grow: 0;
    flex-shrink: 0;
  }

  .title {
    // h1 {
    //   font-weight: normal;
    // }
  }

}
